img {
    width: 250px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.employee {
    display: flex;
    flex-direction: column;
    background: #008000c7;
    padding: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}







/* 
.row {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}



 .emp {
background: #008000ad ;
display: flex;
flex-direction: column;
gap: 15px;
padding: 30px;
text-align: center;
}  
 */
