
.row {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}



 .emp {
background: #008000ad ;
display: flex;
flex-direction: column;
gap: 15px;
padding: 30px;
text-align: center;
}  

